.body {
    background-color:darkseagreen;
}

.pageWrapper{
    background-color: burlywood;
    max-width: 1600px;
    height: 100%;
    overflow: auto;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 300px auto;
    grid-template-rows: 100px auto auto 100px;
    grid-gap: 20px;
}

.header {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: blanchedalmond;
}

.aside {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: blanchedalmond;
}

.showhidden {
    color:cornflowerblue;
    text-decoration-style: dotted;
    cursor: pointer;
}

.registerBoxHidden {
    display: none;
}

.main {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: blanchedalmond;
}

.products {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(auto-fit, 300px);
}

.hideme {
    display: none;
}

.thumbnail {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: blanchedalmond;
    bottom: 0px;
}